<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Sistema de Gerenciamento de Cafeteria
    </a>
    <ul>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signup()">Registro</a></li>
      <li><a (click)="forgotPasswordAction()">Lembrar Senha?</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Projeto de Leonardo Cunha Luna Freire</h2>
</div>