<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mais Vendidos</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pizza é um prato italiano que consiste geralmente em uma base redonda e achatada de massa fermentada à base de trigo, coberta com tomate, queijo e muitas vezes vários outros ingredientes, que é então assada em alta temperatura, tradicionalmente em um forno a lenha. Uma pequena pizza às vezes é chamada de pizzetta.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani é um prato de arroz misto. É feito com especiarias indianas, arroz e carne geralmente de frango, peixe e às vezes, além disso, ovos ou vegetais como batatas em certas variedades regionais.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Massa</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Massa é um tipo de alimento normalmente feito de uma massa não fermentada de farinha de trigo misturada com água ou ovos, e formada em folhas ou outras formas, então cozida por fervura ou assar.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Bolo de Chocolate Derretido</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bolo de chocolate derretido é uma sobremesa popular que combina os elementos de um bolo de chocolate e um suflê. Seu nome deriva do centro de chocolate líquido da sobremesa, e também é conhecido como chocolate moelleux, bolo de lava de chocolate ou simplesmente bolo de lava.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faça Parte
                        <br />
                        Do Nosso
                        <br />
                        Café!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
